<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NationalInstruments.Vision.Common" publicKeyToken="18cbae0f9955702a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.35.101" newVersion="12.0.35.101" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NationalInstruments.Common" publicKeyToken="18cbae0f9955702a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.1.35.414" newVersion="9.1.35.414" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>