<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">
  <!--
  See https://github.com/NLog/NLog/wiki/Tutorial
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <!--屏幕打印消息-->
    <target name="console" xsi:type="ColoredConsole"
                    layout="${date:format=HH\:mm\:ss}> ${message}" />

    <!--VS输出窗口-->
    <target name="debugger" xsi:type="Debugger"
                    layout="■■■BingLog ${date:format=HH\:mm\:ss} ${message}" />

    <!--保存至文件Log-->
    <target name="asyncFileLog" xsi:type="AsyncWrapper">
      <target name="error_file" xsi:type="File" maxArchiveFiles="30"
                      fileName="${basedir}/Logs/${shortdate}/error.log"
                      layout="【异常记录】${newline}发生时间：${longdate} ${newline}异常级别：${level:uppercase=false:padding=-5}${newline}异常提示：${message}${newline}详细信息：${onexception:${exception:format=tostring}${newline}堆栈信息：${stacktrace} ${newline} ${newline}" />
    </target>
    <!--保存至文件Info-->
    <target name="asyncFileInfo" xsi:type="AsyncWrapper">
      <target name="error_file" xsi:type="File" maxArchiveFiles="30"
                      fileName="${basedir}/Logs/${shortdate}/Info.log"
                      layout="【信息记录】${newline}发生时间：${longdate} ${newline}信息级别：${level:uppercase=false:padding=-3}${newline}信息提示：${message}" />
    </target>
  </targets>
  <rules>
    <!--<logger name="*" writeTo="console" />-->
    <logger name="*" minlevel="Debug" writeTo="debugger" />
    <logger name="*" minlevel="Error" writeTo="asyncFileLog" />
    <logger name="*" minlevel="Info" writeTo="asyncFileInfo" />
  </rules>
</nlog>
